name: dart-doc-generation
run-name: "docs(doc): generate dart documentation from code comments"
on:
  push:
    branches:
      - 11-documentation-documentation-generation-and-publishing
      - dev
      - main
    paths:
      - revoiceme/lib/**
      - .github/workflows/dartdoc.yml
jobs:
  dart-doc-generation:
    runs-on: ubuntu-latest
    steps:
      # use public action to checkout the repository
      - name: checkout repository
        uses: actions/checkout@v4
      # install flutter
      - name: install flutter
        run: |
          sudo snap install flutter --classic
          flutter
      # change to 
      - name: run documentation generator
        run: |
          ls
          cd revoiceme
          dart doc --output ../docs
      # stages changes, commits them and pushs them as contributor "github_actor"
      - name: commit and push
        uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
        with:
          # The arguments for the `git add` command (see the paragraph below for more info)
          # Default: '.'
          add: './revoiceme/docs/*'
      
          # Additional arguments for the git commit command. The --message argument is already set by the message input.
          # Default: ''
          commit: --signoff
          
          # Determines the way the action fills missing author name and email. Three options are available:
          # - github_actor -> UserName <UserName@users.noreply.github.com>
          # - user_info -> Your Display Name <your-actual@email.com>
          # - github_actions -> github-actions <email associated with the github logo>
          # Default: github_actor
          default_author: github_actor
      
          # Arguments for the git fetch command. If set to false, the action won't fetch the repo.
          # For more info as to why fetching is usually recommended, please see the "Performance on large repos" FAQ. 
          # Default: --tags --force
          fetch: false
      
          # The message for the commit.
          # Default: 'Commit from GitHub Actions (name of the workflow)'
          message: 'docs(doc): generate dart documentation from code comments'
      
          # The way the action should handle pathspec errors from the add and remove commands. Three options are available:
          # - ignore -> errors will be logged but the step won't fail
          # - exitImmediately -> the action will stop right away, and the step will fail
          # - exitAtEnd -> the action will go on, every pathspec error will be logged at the end, the step will fail.
          # Default: ignore
          pathspec_error_handling: exitAtEnd
